/* Variables */
@import 'my/styleResource';

/* Main outer element */
.container {
    background-color: var(--color-primary);
    width: var(--component-width);
}

/* Title, add button at top of component */
.heading {
    display: flex;
    justify-content: flex-start;
    margin-bottom: var(--space-small);
}

.heading .actions {
    margin-left: auto;
}

/* List of items element */
.list-body {
    display: flex;
    flex-direction: column;
    background-color: none;
}

.row-item {
    background-color: var(--color-secondary);
}

.row-item:nth-child(2n) {
    background-color: var(--color-ternary);
}