/* Variables */
@import 'my/styleResource';

/* Main outer element */
.container {
    width: var(--component-width);
    background-color: var(--color-primary);
}

/* Title, add button at top of component */
.heading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: var(--list-row-height);
    padding: var(--space-small);
}

.title p {
    font-size: var(--font-size-heading);
}

.heading .actions {
    margin-left: auto;
}

/* List of items element */
.list-body {
    display: flex;
    flex-direction: column;
    background-color: none;
}

.row-item {
    background-color: var(--color-secondary);
}

.row-item:nth-child(2n) {
    background-color: var(--color-ternary);
}