/* Variables */
@import 'my/styleResource';

/* Represents a single row */
.row {
    display: flex;
    margin: calc(var(--space-xsmall)/4);
    height: var(--list-row-height);
}

.info-section, .date-section {
    width: 50%;
    display: flex;
    justify-content: end;
}

.info-section {
    flex-direction: column;
    justify-content: end;
}