/* Variables */
@import 'my/styleResource';

/* Represents a single row */
.row {
    display: flex;
    margin: calc(var(--space-xsmall)/4);
    background-color: rgb(40, 106, 163);
    height: var(--list-row-height);
    border-radius: var(--space-xsmall);
}

/* Inspiration from Mountain Scott */
/* Alternate BG color each row */
.row:nth-child(2n){
    background-color: rgb(201, 65, 65);
}

.info-section, .date-section {
    width: 50%;
    display: flex;
    justify-content: end;
}

.info-section {
    flex-direction: column;
    justify-content: end;
}