/* Variables */
@import 'my/styleResource';

/* Represents a single row */
.row {
    display: flex;
    height: var(--list-row-height);
    margin: calc(var(--space-xsmall)/4);
    padding: var(--space-xsmall);
}

.info-section, .date-section {
    display: flex;
    justify-content: end;
    width: 50%;
}

.info-section {
    flex-direction: column;
    align-items: flex-end;
}

.row-item-headline {
    
}